.card__img{
    margin-top: 12px;
    height: 200px;
    width: 200px;
    object-fit: contain;
    background-color: #D3D3D3;
}

/* .maincard{
    height: 150px;
    width :150px
} */

.mission_card{
    /* padding-bottom: 20px; */
    /* margin-top: 12px;
    margin-bottom: 10px; */
    /* margin-left: 1px;
    width: 230px;
    height: 420px;
    overflow: hidden; */
    background-color: #FFFFFF;
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;

}

.grid-4-mission{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem ;
   

}

@media (max-width: 700px) {
   
  
    .grid-4-mission{
      grid-template-columns: 1fr;
  
    }

   



    
  
  
   
  
   }

   @media (max-width: 700px) {
   
  
    

    .mission_card{
       margin-left: auto;
       margin-right: auto;
    
    }



    
  
  
   
  
   }

   
   .missions{
       margin-right:50px ;
   }


 